# Binaries (executables)
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output (binaries)
/dist/
/bin/
/build/

# Go test binaries
*.test

# Go workspace files
*.out

# Go modules
/vendor/

# Dependency directory created by `dep`
/Gopkg.lock
/Gopkg.toml

# Project-local glide cache
/.glide/

# Go package binary
*.a

# GoLand IDE-specific files
.idea/

.env
